aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
aistudio-sdk==0.3.8
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.79.0
anyio==4.11.0
asgiref==3.11.1
attrs==25.4.0
bce-python-sdk==0.9.60
beautifulsoup4==4.14.2
blinker==1.9.0
cachetools==6.2.2
certifi==2025.10.5
cffi==2.0.0
chardet==6.0.0.post1
charset-normalizer==3.4.4
click==8.3.1
colorlog==6.10.1
contourpy==1.3.3
cryptography==46.0.5
curl_cffi==0.13.0
cycler==0.12.1
dataclasses-json==0.6.7
distro==1.9.0
Django==6.0.3
docstring_parser==0.17.0
et_xmlfile==2.0.0
fastapi==0.128.3
filelock==3.20.3
Flask==3.1.3
fonttools==4.61.1
frozendict==2.4.7
frozenlist==1.8.0
fsspec==2026.1.0
future==1.0.0
gitdb==4.0.12
GitPython==3.1.46
google==3.0.0
google-auth==2.43.0
google-genai==1.52.0
h11==0.16.0
hf-xet==1.3.1
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==1.4.1
idna==3.11
imagesize==1.4.1
imbalanced-learn==0.14.1
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.11.1
joblib==1.5.3
jsonpatch==1.33
jsonpointer==3.0.0
kiwisolver==1.4.9
langchain==1.2.9
langchain-anthropic==1.3.2
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-core==1.2.9
langchain-text-splitters==1.1.0
langgraph==1.0.8
langgraph-checkpoint==4.0.0
langgraph-prebuilt==1.0.7
langgraph-sdk==0.3.4
langsmith==0.6.9
lapx==0.9.4
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib==3.10.8
mdurl==0.1.2
modelscope==1.34.0
mpmath==1.3.0
multidict==6.7.1
multitasking==0.0.12
mypy_extensions==1.1.0
mysql-connector-python==9.6.0
networkx==3.6.1
numpy==2.4.1
oauthlib==3.3.1
openai==2.6.1
opencv-contrib-python==4.10.0.84
opencv-python==4.13.0.90
openpyxl==3.1.5
orjson==3.11.7
ormsgpack==1.12.2
packaging==26.0
paddleocr==3.4.0
paddlex==3.4.2
pandas==3.0.0
pdf2image==1.17.0
pdfminer.six==20251230
pdfplumber==0.11.9
peewee==3.19.0
pillow==12.0.0
platformdirs==4.9.2
polars==1.37.1
polars-runtime-32==1.37.1
prettytable==3.17.0
propcache==0.4.1
protobuf==6.33.5
psutil==7.2.1
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyclipper==1.4.0
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.12.3
pydantic-settings==2.12.0
pydantic_core==2.41.4
Pygments==2.19.2
pyparsing==3.3.2
pypdfium2==5.5.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.17
PyQt5_sip==12.17.1
pytesseract==0.3.13
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.2
qrcode==8.2
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==14.3.3
rsa==4.9.1
ruamel.yaml==0.19.1
scikit-learn==1.8.0
scipy==1.17.0
seaborn==0.13.2
setuptools==80.10.2
shapely==2.1.2
shellingham==1.5.4
six==1.17.0
sklearn-compat==0.1.5
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8
SQLAlchemy==2.0.46
sqlparse==0.5.5
starlette==0.52.1
sympy==1.14.0
ta==0.11.0
tenacity==9.1.2
thop==0.1.1.post2209072238
threadpoolctl==3.6.0
torch==2.10.0
torchvision==0.25.0
tqdm==4.67.1
typer==0.24.1
typer-slim==0.24.0
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
ujson==5.11.0
ultralytics==8.4.6
ultralytics-thop==2.0.18
urllib3==2.6.3
uuid_utils==0.14.0
uvicorn==0.40.0
wcwidth==0.6.0
websockets==15.0.1
Werkzeug==3.1.5
xgboost==3.2.0
xxhash==3.6.0
yarl==1.22.0
yfinance==1.2.0
zstandard==0.25.0
